{% extends 'base.html' %}

{% block head_title %}
    Social Media for Artisan
{% endblock head_title %}

{% block content %}

    <div class='row text-center'>
        <div class='col'>
            <h1>Welcome to Unfolded</h1>
        </div>
    </div>

    <div class='row mb-4 mt-4'>
        <div class='col-md-4 mx-auto col-10'>
            <form class='form' method='POST' id='post-create-form' action='/create-post/'> {% csrf_token %}
                <div class='d-none alert alert-danger' id='post-create-form-error'></div>
                <input type='hidden' value='/' name='next' />
                <textarea required='required' class='form-control' name='content' placeholder='Your Post...'></textarea>
                <button type='submit' class='btn btn-primary'>Post</button>
            </form>
        </div>
    </div>

    <div class='row' id='posts'>
        Replace me
    </div>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
             

        const handlePostFormError = function(msg, display) {
            var myErrorDiv = document.getElementById("post-create-form-error")
            if (display === true) {
                // show error
                myErrorDiv.setAttribute("class", "d-block alert alert-danger")
                myErrorDiv.innerText = msg

            } else {
                // hide error
                myErrorDiv.setAttribute("class", "d-none alert alert-danger")
            }
        }
        const handlePostCreateFormDidSubmit = function(event) {
            event.preventDefault()
            const myForm = event.target
            const myFormData = new FormData(myForm)
            const url = myForm.getAttribute("action")
            const method = myForm.getAttribute("method")
            const xhr = new XMLHttpRequest()
            const responseType = "json"
            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            xhr.onload = function() {
                if (xhr.status === 201) {
                    handlePostFormError("", false)
                    const newPostJson = xhr.response
                    // const newPostJson = JSON.parse(newPost)

                    const newPostElement = formatPostElement(newPostJson)
                    const ogHtml = postsContainerElement.innerHTML
                    postsContainerElement.innerHTML = newPostElement +ogHtml
                    myForm.reset()
                } else if(xhr.status === 400) {
                    const errorJson = xhr.response
                    const contentError = errorJson.content
                    let contentErrorMsg;
                    if (contentError) {
                        contentErrorMsg = contentError[0]
                        if (contentErrorMsg) {
                            handlePostFormError(contentErrorMsg, true)
                        } else {
                            alert("An error occured. Please try again.")
                        }
                    } else {
                        alert("An error occured. Please try again")
                    }
                    console.log(contentErrorMsg)
                } else if(xhr.status === 401) {
                    alert("You must login")
                    window.location.href = "/login"

                } else if(xhr.status === 403) {
                    alert("You must login")
                    window.location.href = "/login"
                
                } else if(xhr.status === 500) {
                    alert("There was a server error, please try again.")
                }
            }
            xhr.onerror = function() {
                alert("An error occured. Please try again later")
            }
            xhr.send(myFormData)
        }

        const postCreateFormEl = document.getElementById("post-create-form")

        postCreateFormEl.addEventListener("submit", handlePostCreateFormDidSubmit)

        const postsContainerElement = document.getElementById("posts")
        
        const loadPosts = function(postsElement) {
            const xhr = new XMLHttpRequest()
            const method = 'GET' // "Post"
            const url = "/posts"
            const responseType = "json"

            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.onload = function() {
                const serverResponse = xhr.response
                const listedItems = serverResponse
                var finalPostStr = ""
                var i;
                for (i=0; i<listedItems.length; i++){
                    var postObj = listedItems[i]
                    var currentItem = formatPostElement(postObj)
                    finalPostStr += currentItem
                }
                postsElement.innerHTML = finalPostStr
            }
            xhr.send()
        }

        loadPosts(postsContainerElement)


        const handlePostActionBtn = function (post_id, currentCount, action) {
            console.log(post_id, currentCount)
            const url = "/api/posts/action/"
            const method = "POST"
            const data = JSON.stringify({
                id: post_id,
                action: action
            })
            const xhr = new XMLHttpRequest()
            const csrftoken = getCookie('csrftoken'); 
            xhr.open(method, url)
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
            xhr.onload = function() {
                
                loadPosts(postsContainerElement)
            }
            xhr.send(data)
            return            
        }

        function RepostBtn(post) {
            return "<button class='btn btn-outline-success btn-small' onclick=handlePostActionBtn(" + 
            post.id + "," + post.likes + ",'repost')>Repost</button>"
        }

        function UnLikeBtn(post) {
            return "<button class='btn btn-outline-primary btn-small' onclick=handlePostActionBtn(" + 
            post.id + "," + post.likes + ",'unlike')>Unlike</button>"
        }

        function LikeBtn(post) {
            return "<button class='btn btn-primary btn-small' onclick=handlePostActionBtn(" + 
            post.id + "," + post.likes + ",'like')>" + post.likes + " Likes</button>"
        }

        function formatPostElement(post) {
            var formattedPost = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4'><p>" + post.content + 
            "</p>" + "<div class='btn-group'>" + LikeBtn(post) + UnLikeBtn(post) + RepostBtn(post) +"</div></div>"
            return formattedPost
        }
        

    </script>
{% endblock content %}